@import "../css/base.scss";
$baseColor: #fcffb4;
$viewW: 750px;
$color: #298cf0;

.wm-login-ui {
	
	.wm-login-title{
		color:$color;
		height: 30vh;
		line-height: 30vh;
		text-align: center;
		font-size: 80px;

		&.hide{
			color:#b20000;
		}
	}

	.wm-login-form{
		width: $viewW;

		

		&>div{
			width:90%;
			height: 80px;
			line-height: 80px;

			margin: 40px auto;
			border:1px solid #edeff8;
			@include br(50px);
			box-sizing: border-box;
			padding: 0 40px;
			@include pos(r);
			input{
				height: 60px;
				width: 500px;
				margin-left: 20px;
				border: none;
				outline: none;
				font-size: 30px;
				&::-webkit-input-placeholder{
					color:#ddd;
				}
			}

			&.wm-login-error{
				color:#b20000;
				margin-top: -40px;
				border:none;
			}
			

			.wm-login-getcode{
				@include pos(a);
				right: 0;
				top: 0;
				height: 100%;
				width: 240px;
				background:#11d35d;
				@include br(36px);
				text-align: center;
				color:#fff;
				@include transform(scale(.9));
				&.active {
					@include transform(translate(0, 2px) scale(.88));
				}
			}
		}
		img{
			width: 40px;
		}
	}
	

	.wm-login-btn{
		width: 90%;
		margin: 80px auto;
		background:$color;
		@include br(50px);
		text-align: center;
		color:#fff;
		height: 80px;
		line-height: 80px;
		&.active{
			@include transform(translate(0,4px) scale(.98));
		}
	}

	.wm-login-type{
		
		width: 100%;
		@include pos(a);
		bottom: 4vh;
		text-align: center;
		height: 80px;
		line-height: 80px;
		color:#98badd;
	}
}
