/*.ant-btn:focus, .ant-btn:hover,.ant-input:focus, .ant-input:hover {
    background-color: #fff;
    border-color: #bf1616;
    box-shadow: 0 0 0 2px rgba(191, 22, 22, 0.1);
}*/
.lt-full {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.zmiti-text-overflow {
  overflow: hidden;
  white-space: nowrap;
  word-break: break-all;
  text-overflow: ellipsis;
  -webkit-text-overflow: ellipsis;
}

.zmiti-play {
  width: .8rem;
  height: .8rem;
  border-radius: 50%;
  position: fixed;
  z-index: 1000;
  right: .5rem;
  top: .5rem;
}

.zmiti-play.rotate {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}

.symbin-left {
  float: left !important;
}

.symbin-right {
  float: right !important;
}

@-webkit-keyframes rotate {
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.wm-index-ui {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: vertical;
  background: #f5f9ff;
}

.wm-index-ui > div {
  width: 100%;
  box-sizing: border-box;
}

.wm-index-ui > div:nth-of-type(1) {
  height: 30vh;
  overflow: hidden;
}

.wm-index-ui > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
}

.wm-index-ui > div:nth-of-type(2) .wm-index-notice {
  position: absolute;
  width: 90%;
  top: -60px;
  border-radius: 10px;
  left: 5%;
  max-height: 200px;
  box-sizing: border-box;
  padding: 20px 10px;
  background: #fff;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
  -webkit-box-align: start;
  overflow: hidden;
}

.wm-index-ui > div:nth-of-type(2) .wm-index-notice > div:nth-of-type(2) {
  -webkit-box-flex: 1;
  box-flex: 1;
  word-break: break-all;
}

.wm-index-ui > div:nth-of-type(2) .wm-index-notice img {
  width: 80px;
}

.wm-index-ui .wm-menu-list {
  width: 750px;
  height: 600px;
  position: absolute;
  bottom: 10px;
}

.wm-index-ui .wm-menu-list ul {
  height: 200px;
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  -webkit-box-orient: horizontal;
}

.wm-index-ui .wm-menu-list ul li {
  height: 100%;
  box-sizing: border-box;
  -webkit-box-flex: 1;
  box-flex: 1;
  text-align: center;
  border: 1px solid red;
}
